@media print {
  @page {
    width: 50mm;
    height: 25mm;
  }
  body * {
    visibility: hidden;
  }

  #printArea,
  #printArea * {
    visibility: visible;
  }

  #printArea {
    position: absolute;
    left: 0;
    top: 0;
  }
}
